/.vs/Parking_cad/v14/*.suo
/Parking_cad/*.dwl
/Parking_cad/*.dwl2
/ipch
/Parking_cad/x64
/Parking_cad.VC.db
/*.opendb
/Parking_cad22.VC.db
/*.suo
/*.sdf
/*.opensdf
/*.ncb
/Parking_cad18/x64
/Parking_cad19/x64
/Parking_cad20/x64
/Parking_cad22/x64
/.vs
/Publish/Autosave
