/.vs/Parking_cad/v14/*.suo
/Parking_cad/*.dwl
/Parking_cad/*.dwl2
/ipch
/Parking_cad/x64
/Parking_cad.VC.db
/*.opendb
/Parking_cad22.VC.db
/*.suo
/*.sdf
/*.opensdf
/*.ncb
/Parking_cad18/x64
/Parking_cad19/x64
/Parking_cad20/x64
/Parking_cad22/x64
/.vs
/Publish/Autosave
/Parking_cad/Parking_cad.aps
/x64/Debug/BGYParking_cad18.arx
/x64/Debug/BGYParking_cad18.ilk
/x64/Debug/BGYParking_cad19.arx
/x64/Debug/BGYParking_cad19.pdb
/x64/Debug/BGYParking_cad20.arx
/x64/Debug/BGYParking_cad20.pdb
/x64/Debug/BGYParking_cad22.arx
/x64/Debug/BGYParking_cad22.pdb
/x64/Debug/Parking_cad18.exp
/x64/Debug/Parking_cad18.lib
/x64/Debug/Parking_cad18.pdb
/x64/Release/BGYParking_cad18.arx
/x64/Release/BGYParking_cad18.ilk
/x64/Release/BGYParking_cad19.arx
/x64/Release/BGYParking_cad19.pdb
/x64/Release/BGYParking_cad20.arx
/x64/Release/BGYParking_cad20.pdb
/x64/Release/BGYParking_cad22.arx
/x64/Release/BGYParking_cad22.pdb
/x64/Release/Parking_cad18.exp
/x64/Release/Parking_cad18.lib
/Parking_cad22/*.dwl
/Parking_cad22/*.dwl2
/Parking_cad21.VC.db
/Parking_cad21/x64
/x64/Debug/BGYParking_cad21.arx
/x64/Debug/BGYParking_cad21.pdb
/x64/Release/BGYParking_cad21.arx
/x64/Release/BGYParking_cad21.pdb
/x64/Release/*.dwl
/Publish/out/Support/22/x64/BGYParking_cad22.arx
/Publish/out/Support/21/x64/BGYParking_cad21.arx
/Publish/out/Support/20/x64/BGYParking_cad20.arx
/Parking_cad18/*.user
/Publish/out/Support/18/x64/BGYParking_cad18.arx
/Publish/out/Support/19/x64/BGYParking_cad19.arx
